version: 2.1

jobs:
  test:
    machine:
      image: ubuntu-2004:202104-01
      docker_layer_caching: true
    steps:
      - checkout
      - run:
          name: install .NET Core 6.0
          command: |
            wget https://packages.microsoft.com/config/ubuntu/21.04/packages-microsoft-prod.deb -O packages-microsoft-prod.deb
            sudo dpkg -i packages-microsoft-prod.deb
            rm packages-microsoft-prod.deb
            sudo apt-get update
            sudo apt-get install -y apt-transport-https
            sudo apt-get update
            sudo apt-get install -y dotnet-sdk-6.0
            dotnet --info
      - run:
          name: start MySQL for SideBySide tests
          command: |
            docker run -d --rm --name mysqlconnector -e MYSQL_ROOT_PASSWORD=pass -p 3306:3306 mysql:5.7 --max-allowed-packet=96M --character-set-server=utf8mb4 --log-bin-trust-function-creators=1 --local-infile=1 --max-connections=250
      - run:
          name: copy config file for SideBySide tests
          command: |
            cp ./.circleci/SideBySide/config.json tests/SideBySide/config.json
      - run:
          name: build connector
          command: |
            dotnet build -c Release
      - run:
          name: unit tests
          command: |
            cd tests/MySqlConnector.Tests
            dotnet test -f net6.0 -c Release
            cd ../../
      - run:
          name: SideBySide tests
          command: |
            cd tests/SideBySide
            dotnet test -f net6.0 -c Release
            cd ../../
      - run:
          name: Conformance tests
          command: |
            cd tests/Conformance.Tests/
            dotnet test -f net6.0 -c Release
            cd ../../

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
